<div class="container">
  <nav class="menu">
    <h1 [routerLink]="['']"> InterBank </h1>
    <ul>
      <li [routerLink]="['/visualizar']"> Visualizar seus agendamentos </li>
    </ul>
  </nav>

  <form>
    <h2> Agendamento de Transferências </h2>
    <div>
      <article>
        <label for="nomeUsuario"> Seu nome <span> * </span> </label>
        <input type="string" id="nomeUsuario" name="nomeUsuario" [(ngModel)]="filtroAgendamento.nomeUsuario">
      </article>
      <article>
        <label for="documentoUsuario"> Seu CPF <span> * </span> </label>
        <input type="text" id="documentoUsuario" name="documentoUsuario" placeholder="ex: 12345678910" [(ngModel)]="filtroAgendamento.documentoUsuario" maxlength="14">
      </article>
    </div>
    <div>
      <article>
        <label for="contaOrigem"> Conta origem <span> * </span> </label>
        <input type="number" id="contaOrigem" name="contaOrigem" [(ngModel)]="filtroAgendamento.contaOrigem">
      </article>
      <article>
        <label for="contaDestino"> Conta destino <span> * </span> </label>
        <input type="number" id="contaDestino" name="contaDestino" [(ngModel)]="filtroAgendamento.contaDestino">
      </article>
    </div>
    <div>
      <article>
        <label for="valor"> Valor transferência <span> * </span> </label>
        <input type="number" id="valor" name="valor" [(ngModel)]="filtroAgendamento.valorTransferencia">
      </article>
      <article>
        <label for="dataHoraTransferencia"> Data/Hora transferência <span> * </span> </label>
        <input type="datetime-local" [(ngModel)]="dataHoraTransferencia" id="dataHoraTransferencia" name="dataHoraTransferencia">
      </article>
    </div>

    <article class="botoes">
      <button id="confirm" (click)="createRequest()">
        Confirmar
      </button>

      <button id="clear" (click)="clear()">
        Limpar
      </button>
    </article>
  </form>
</div>